<header-directive></header-directive>
<div class="alert alert-danger fade in" ng-if="ac.errorMessage">
   <button class="close" data-dismiss="alert" aria-label="close">&times;</button>
   <strong>Error!</strong> {{ac.errorMessageText}}
 </div>
<div github-issues-directive="issueUrl" data="issueData" spinner="loading">
  <div style="width:50%" ng-if="!loading">
    <table class="table">
      <tbody>
        <tr>
          <td>
            <label for="usr">Title:</label>
          </td>
          <td><input type="text" class="form-control" ng-model="title"/></td>
        </tr>
        <tr>
          <td>
            <label for="usr">Description:</label>
          </td>
          <td>
            <textarea class="form-control" rows="5" ng-model="description"></textarea>
            <td></tr>
          </tbody>
        </table>
        <a href="#/dashboard?repoName={{repoName}}" class="btn btn-primary" role="button">Back</a>
        <button type="button" class="btn btn-primary disabled" ng-class="title ? 'active' : 'disabled'" ng-click="createIssue()" ng-bind="edittable ? 'Update' : 'Create New Issue'"></button>
      </div>
      <div ng-include="'templates/loadingIndicator.html'"></div>
    </div>
